/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/bootstrap/compiled.php
composer.phar
composer.lock
.DS_Store
Thumbs.db
/public/css/builds/
/public/js/builds/
/public/.well-known
/public/docs
/storage/.ignore_locales
/storage/.installed
/tools
.well-known
/resources/lang/module.*
.phpunit.result.cache
